body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #6a5acd, #00bfff);
    font-family: 'Verdana', sans-serif;
    color: white;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.5em;
    margin-top: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

i.fa-solid {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

i.fa-solid:hover {
    transform: scale(1.2);
    color: #f0a3c0;
    transition: transform 0.3s, color 0.3s;
}